%table.table#programs
  %tbody
    - @programs.each do |program|
      %tr
        %td
          %p.date
            %span.channel= program.channel_name
            = "#{l program.started_at, format: :short}(#{program.duration_s})"
          %p
            = link_to program.title, program
            %span.dl-link
              %span.visible-desktop
                %a(href='#{download_program_path(program)}' data-no-turbolink)
                  %i.icon-download
        %td.hidden-phone= program.detail

= paginate @programs

- content_for :javascript do
  :javascript
    key.setScope('list');
