- title @program.title

.page-header
  %h1
    = @program.title
    %small
      %a(href='#{download_program_path(@program)}' data-no-turbolink)
        %i.icon-download

.container-fluid
  .row-fluid
    .span9
      %video#video(controls)
        %source{src: @program.movie_uri}
      #rate-controller
        %input{type: 'range', min: 0.5, max: 2.0, step: 0.25, value:1.0}
        %span#rate-indicator
          x1.0

    .span3
      %ul.nav.nav-tabs
        %li.active
          %a(href='#details' data-toggle='tab') Details
        %li
          %a(href='#related' data-toggle='tab') Related

      .tab-content
        #details.tab-pane.in.fade.active
          .row-fluid
            %ul.thumbnails
              %li.span12
                .thumbnail
                  %img#screenshot
                  %canvas#canvas

          %table.table.table-striped
            %tbody
              %tr
                %td
                  %i.icon-calendar
                %td= l @program.started_at, format: :short
              %tr
                %td
                  %i.icon-time
                %td= @program.duration_s
              %tr
                %td 詳細
                %td= @program.detail
              - @program.extdetail.each do |detail|
                %tr
                  %td= detail['item_description']
                  %td= detail['item']

        #related.tab-pane.fade
          %ol
            - @related.each do |related|
              %li= link_to related.title, related

- content_for :javascript do
  :javascript
    key.setScope('theater');

    var screenshot = new Screenshot('video', 'canvas', 'screenshot', 0.5);

    key('s', 'theater', function() {
      screenshot.take();
    });
