- title @program.title

-content_for :javascript do
  :javascript
    key.setScope('theater');

%h1= @program.title

#category-container
  -@program.category.each do |category|
    %ul
      %li= category['large']['ja_JP']
      %li.descendant-category= category['middle']['ja_JP']

.container-fluid#container
  .row-fluid
    .span2#info-bar
      =link_to 'ダウンロード', download_program_path(@program), :'data-no-turbolink' => true
      %tl#program-detail
        %dt 放映日時
        %dd= @program.started_at.to_formatted_s(:long)
        %dt 時間
        %dd= @program.duration_s
        %dt 詳細
        %dd= @program.detail
        -@program.extdetail.each do |detail|
          %dt= detail['item_description']
          %dd= detail['item']

    .span10#movie-container
      %video#video(controls)
        %source{src: @program.movie_uri}
      #rate-controller
        %input{type: 'range', min: 0.5, max: 2.0, step: 0.25, value:1.0}
        %span#rate-indicator
          x1.0
