%h1= @program.title

#category-container
  -@program.category.each do |category|
    %ul
      %li= category['large']['ja_JP']
      %li.descendant-category= category['middle']['ja_JP']

.container-fluid#container
  .row-fluid
    .span2#info-bar
      =link_to 'ダウンロード', download_program_path(@program)
      %tl#program-detail
        %dt 放映日時
        %dd= @program.started_at.to_formatted_s(:long)
        %dt 時間
        %dd= @program.duration_s
        %dt 詳細
        %dd= @program.detail
        -@program.extdetail.each do |detail|
          %dt= detail['item_description']
          %dd= detail['item']

    .span10#movie-container
      %video(controls)
        %source{src: @program.movie_uri}
