!!! html
%html
  %head
    %title= ['TvBroadcast', content_for(:title)].reject(&:blank?).join(' | ')
    %meta(name='viewport' content='width=device-width')
    %meta(name="gleebox-default-selector" content="p>a, a:contains(Previous), a:contains(Next)")
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    :javascript
      window.__authenticityToken__ = '#{form_authenticity_token}';
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target='.nav-collapse' data-toggle='collapse')
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href='/') TV
          .nav-collapse.collapse
            .pull-left
              %ul.nav
                %li= link_to 'Programs', programs_path

            = form_for @program_filter, url: programs_path, html: {method: :get, class: 'navbar-search'} do |f|
              = f.text_field :keyword, { class: 'search-query', placeholder: 'Search'}
            .pull-right
              %ul.nav
                %li
                  =link_to 'Upload', new_program_path
                %li
                  - if logged_in?
                    %a(href='#{logout_path}' data-method='delete') Logout
                  - else
                    %a(href='#{login_path}') Login

    .container-fluid
      = yield
    = render 'shared/shortcut_help'
    = yield :javascript
