!!! html
%html
  %title= ['TvBroadcast', content_for(:title)].reject(&:blank?).join(' | ')
  = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
  = csrf_meta_tags
%body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        %a.btn.btn-navbar(data-target='.nav-collapse' data-toggle='collapse')
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand(href='/') TV
        .nav-collapse.collapse
          %ul.nav
            %li= link_to 'Programs', programs_path
          .pull-right
            %ul.nav
              %li
                - if logged_in?
                  %a(href='#{logout_path}' data-method='delete') Logout
                - else
                  %a(href='#{login_path}') Login

  = yield
  = render 'shared/shortcut_help'
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = yield :javascript
